{% extends 'base.html.twig' %}

{% block title %}
  Offres
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('card') }}
{% endblock %}
{% block body %}
  <div class="container p-2">
    {{ form_start(form) }}
    <div>{{ form_label(form.search, null, { label: 'Votre Recherche', label_attr: { class: 'col-form-label' } }) }}</div>
    <div class="input-group">
      <div class="form-control">{{ form_widget(form.search, { attr: { class: 'border-0', placeholder: 'Recherchez par mot(s) clé(s)' } }) }}</div>
      <button class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </button>
    </div>
    {{ form_end(form) }}
    <h1 class="mt-2">{{ offers|length }} offres sélectionnées</h1>
    <div class="row justify-content-center g-4">
      {% for offer in offers %}
        {% include 'component/_card.html.twig' with { offer: offer } only %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
