{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block body %}
    <h1>Offres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offer.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ offer.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offer.description }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ offer.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ offer.city }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TargetDate</th>
                <td>{{ offer.targetDate ? offer.targetDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AnnualWage</th>
                <td>{{ offer.annualWage }}</td>
            </tr>
            <tr>
                <th>IsImportant</th>
                <td>{{ offer.isImportant ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offer_index') }}">back to list</a>

    <a href="{{ path('app_offer_edit', {'id': offer.id}) }}">edit</a>

    {{ include('offer/_delete_form.html.twig') }}
{% endblock %}
