{% extends 'dashboard_layout.html.twig' %}

{% block title %}
	{{ parent() ~ ' | ' ~ offer.title }}
{% endblock %}

{% block content %}
	<h1 class="d-none">Offre</h1>
	<div class="container p-4">

		<div class="d-flex align-items-center">
			<div>
				{% if offer.isImportant %}
					<span class="badge badge-pill bg-danger fw-normal fs-5 me-3">Important</span>
				{% endif %}
			</div>
			<h2>{{ offer.title }}</h2>
		</div>

		<div class="mt-4">
			<h2 class="font-subtitle fs-3">Ville</h2>
			<div>{{ offer.postalCode }}
				-
				{{ offer.city }}</div>
		</div>

		<div class="mt-4">
			<h2 class="font-subtitle fs-3">Dates clés</h2>
			<div>
				<span>Crée le :
				</span>
				{{ offer.createdAt|date('d/m/Y') }}</div>
			<div>
				<span>Pour le :
				</span>
				{{ offer.targetDate ? offer.targetDate|date('d/m/Y') : 'Non renseigné' }}</div>
		</div>

		<div class="mt-4">
			<h2 class="font-subtitle fs-3">Description</h2>
			<div>{{ offer.description }}</div>
		</div>

		<div class="mt-4">
			<h2 class="font-subtitle fs-3">Salaire</h2>
			<div>{{ offer.annualWage }}</div>
		</div>


		<div class="d-flex justify-content-between mt-5">
			<a aria-label="Retour à l'index" class="btn btn-outline-secondary d-flex align-items-center" href={{ path('app_offer_index') }}>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=" bi bi-arrow-left me-2" viewbox="0 0 16 16">
					<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
				</svg>
				<span class="d-none d-lg-block">Retour</span>
			</a>
			<div class="d-flex">
				<a aria-label="Modifier l'entreprise" class="btn btn-primary d-flex align-items-center" href={{ path('app_offer_edit', {'id': offer.id} ) }}>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen me-2" viewbox="0 0 16 16">
						<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
					</svg>
					<span class="d-none d-lg-block">Modifier</span>
				</a>
				<div class="ms-2">
					{{ include('offer/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>

</div>{% endblock %}
