{% extends 'dashboard_layout.html.twig' %}

{% block title %}
	{{ parent() ~ 'Toutes les Offres' }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('card') }}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('mapShowAllOffers') }}
{% endblock %}

{% block content %}
	<div class="container p-4">
		<div class="d-flex justify-content-center align-items-center gap-3 py-4">
			<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m0-3l-3-3m0 0l-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75"/>
			</svg>
			<h1>Toutes les Offres</h1>
		</div>
		<hr>

		<div class="my-5">
			{% include './component/_searchBar.html.twig' %}
		</div>
		{% if is_granted("ROLE_RECRUITER") %}
			<div class="d-flex justify-content-center my-4">
				<a aria-label="Ajouter une offre" class="btn btn-secondary text-light" href="{{ path('app_offer_new') }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewbox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
					</svg>
					<span class="ms-2 fs-6">Ajouter
						<span class="d-none d-sm-inline">une offre</span>
					</span>
				</a>
			</div>
		{% endif %}
		<div class="row">
			<div class="py-5 px-1 px-xl-4 d-flex justify-content-center align-items-center">
				<div id="map" data-offers="{{ jsonOffers }}" data-link="/offer" data-search="{{ searchCoords ?? "" }}" class="w-100 rounded box-shadow" style="height:400px"></div>
			</div>
		</div>
		<div class="row justify-content-center g-4">
			{% for offer in offers %}
				<div class="col-lg-6">
					{% include "component/_card.html.twig" with {offer:offer} only %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
