<div class="row justify-content-between align-items-center">

	<div class="d-flex justify-content-between align-items-center">
		<h1 class="font-title title-profil display-5">Formations</h1>
	</div>
</div>

{% for education in candidate.education %}
	<div class="d-flex flex-column">
		<div class="d-flex justify-content-between align-items-center mt-2">
			<h2 class="font-title m-0">{{ education.title }}</h2>
			<a class="btn btn-outline-primary btn-sm" href="{{ path('app_education_edit', {'id': education.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
</svg><span class="d-none d-md-inline ms-2">Modifier</span></a>
		</div>
		<div>
			<div class="row">
				<p class="font-title experiencePeriode mb-2 col-lg-4">
					{{ (education.startDate ? education.startDate|date('d/m/Y') : '') ~ 
								' - ' ~ 
								(education.endDate ? education.endDate|date('d/m/Y') : '')}}</p>

			</div>
		</div>
	<div class="row mt-1">
		<dl class="row">
		
			<dd class="col-lg fw-bolder"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard me-2" viewBox="0 0 16 16">
  <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z"/>
  <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
</svg>{{ education.school }}</dd>
		</div>


		<dl class="row mb-5">
			<dd class="col-lg fs-5">{{ education.description|nl2br }}</dd>
		</dl>

		<hr>
	</div>
{% else %}
	<div>
		<p>Aucune formation</p>
	</div>
{% endfor %}
