{% extends 'base.html.twig' %}

{% block title %}Education{% endblock %}

{% block body %}
    <h1>Education</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ education.id }}</td>
            </tr>
            <tr>
                <th>School</th>
                <td>{{ education.school }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ education.startDate ? education.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ education.endDate ? education.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ education.description }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ education.title }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ education.level }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_education_index') }}">back to list</a>

    <a href="{{ path('app_education_edit', {'id': education.id}) }}">edit</a>

    {{ include('education/_delete_form.html.twig') }}
{% endblock %}
