{% extends 'dashboard_layout.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Candidatures' }}
{% endblock %}

{% block content %}
	<div class="container p-2">
		<div class="p-5 d-flex justify-content-center align-items-center">
			<h1>Candidatures sur cette offre</h1>
		</div>
		<hr>

		<div class="row justify-content-center mt-3 g-4">

			<div class="col-xl-6">
				<div class="p-2">
					<h3 class="text-subtitle">Offre</h3>

					<div class="rounded p-5 my-3 bg-light box-shadow">
						<div class="fs-4 fw-bold">{{ offer.title }}</div>
						<div>{{ offer.city }}
							({{ offer.postalCode }})</div>
						<div class="mt-2">{{ offer.description }}</div>
						<hr>
						<div class="d-flex justify-content-center">
							<a href="{{ app.user ? path('app_offer_show_loggedin', { id: offer.id }) : path('app_offer_show_loggedout', { id: offer.id }) }}" class="btn btn-sm btn-secondary px-3">Voir</a>
						</div>
					</div>

				</div>
			</div>

			<div class="col-xl-6">
				<div class="p-2">
					<h3 class="text-subtitle">Candidat(s)</h3>


					{% for application in offer.applications %}
						<div class="box-shadow bg-light rounded p-5 my-3">
							<div>

								<div class="d-flex justify-content-end mb-3 mb-sm-0">
									{% if application.applicationStatus == constant("App\\Entity\\Application::APPLICATION_STATUS")['ACCEPTED']  %}
										<div class="badge badge-pill text-dark">🟢 Validée</div>
									{% elseif application.applicationStatus == constant("App\\Entity\\Application::APPLICATION_STATUS")['REJECTED'] %}
										<div class="badge badge-pill text-dark">🔴 Rejetée</div>
									{% elseif application.applicationStatus == constant("App\\Entity\\Application::APPLICATION_STATUS")['IN_PROGRESS'] %}
										<div class="badge badge-pill text-dark">🟠 En cours d'étude</div>
									{% endif %}
								</div>


								<div>
									<h2 class="fs-4">{{ application.candidate.user.firstname }}
										{{ application.candidate.user.lastname }}</h2>
									<h3 class="fs-6">{{ application.candidate.user.email }}</h3>
								</div>
								<hr>

								<div class="d-flex justify-content-center gap-3 mt-3">
									<a target="_blank" href="{{ path('app_profil_candidate', { id: application.candidate.id }) }}" class="btn btn-sm btn-outline-tertiary px-6 py-1">Voir le profil</a>
									<a href="{{ path('app_recruiter_application_decision', { id: application.id }) }}" class="btn btn-sm btn-secondary d-flex align-items-center">Changer le statut</a>
								</div>
								<div class="d-flex justify-content-center mt-3"></div>


							</div>
						</div>
					{% endfor %}


				</div>
			</div>

			<div class="d-flex">
				<a aria-label="Retour à l'index" class="btn btn-outline-tertiary d-flex align-items-center" href="{{ path('app_recruiter_application') }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left me-2" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
					</svg>
					<span class="d-none d-lg-block">Retour</span>
				</a>
			</div>
		</div>
	{% endblock %}
