{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' | ' ~ company.name }}{% endblock %}

{% block navbar %}
    {% include './component/_navigation_bar.html.twig' %}
{% endblock %}

{% block body %}
<div class="container p-4">
    <div>
        <div class="font-title fs-2 mt-3">{{ company.name }}</div>
        <div>{{ company.email }}</div>
    </div>
    <div class="mt-3">
        <div class="font-subtitle fs-4">Adresse:</div>
        <span>{{ company.postalCode }}</span>
        <span>{{ company.city }}</span>
    </div>
   
    <div class="mt-3">
        <div class="font-subtitle fs-4">Présentation:</div>
        <div>{{ company.description }}</div>
    </div>

</div>


    <a href="{{ path('app_company_index') }}">back to list</a>

    <a href="{{ path('app_company_edit', {'id': company.id}) }}">edit</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
