{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' | ' ~ company.name }}{% endblock %}

{% block navbar %}
    {% include './component/_navigation_bar.html.twig' %}
{% endblock %}

{% block body %}
<div class="container p-4">
    <div>
        <h1 class="font-title fw-bold fs-2 mt-3 mb-0">{{ company.name }}</h1>
        <div>{{ company.email }}</div>
    </div>
    <div class="mt-3">
        <h2 class="font-subtitle fs-4">Adresse:</h2>
        <span>{{ company.postalCode }}</span>
        <span>{{ company.city }}</span>
    </div>
   
    <div class="mt-3">
        <h2 class="font-subtitle fs-4">Présentation:</h2>
        <div>{{ company.description }}</div>
    </div>
    <div class="mt-5">
        <a class="btn btn-primary" aria-label="Retour" href="{{ path('app_company_index') }}">Retour</a>
        <a class="btn btn-primary" aria-label="Modifier" href="{{ path('app_company_edit', {'id': company.id}) }}">Modifier</a>
        {{ include('company/_delete_form.html.twig') }}
    </div>
</div>


{% endblock %}
