{% block javascript %}
	{{ encore_entry_script_tags('rangeSearchbar') }}
{% endblock %}

{{ form_start(form) }}

<div class="input-group">
	<div class="form-control">
		{{ form_label(form.search) }}
		{{ form_widget(form.search, { attr: { class: 'border-0', placeholder: 'Recherchez par mot(s) clé(s)' } }) }}
	</div>
	<div class="form-control">
		{{ form_label(form.location) }}
		{{ form_widget(form.location, { attr: { class: 'border-0', placeholder: 'Recherchez par ville' } }) }}
	</div>
	<div class="form-control">
		<div class="d-flex justify-content-between align-items-center">
			<div>
				{{ form_label(form.range) }}
				<span>
					<output id="range-display" class="fs-5"></output>
					km<span></div>
				</div>
				{{ form_widget(form.range, { attr: { class: 'border-0' }}) }}
			</div>
			<button class="btn btn-primary">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
				</svg>
			</button>
		</div>


		{{ form_end(form) }}
