{% block javascripts %}
  {{ encore_entry_script_tags('favorite') }}
{% endblock %}

<div class="d-flex flex-column align-items-center justify-content-center p-4">
  <div>
    {% if offer.isImportant and is_granted('ROLE_RECRUITER') %}
      <span class="badge badge-pill bg-danger fw-normal fs-5 me-3">Important</span>
    {% endif %}
  </div>
  <h2>
    {{ offer.title }}

    {% if is_granted('ROLE_CANDIDATE') %}
      <a class="toggleFavorite ms-2 text-decoration-none text-dark" href="{{ path('app_candidate_add_favorite', { id: offer.id }) }}"><i class="bi {{ app.user.candidate.isInFavorite(offer) ? 'bi-star-fill' : 'bi-star' }}"></i></a>
    {% endif %}
  </h2>
  <div class="d-flex justify-content-center">
    <div class="mt-4 d-flex align-items-center">
      <span>{% include 'svg/_localisation.svg.twig' %}</span>
      <span class="fs-5">
        {{ offer.postalCode }}
        -
        {{ offer.city }}
      </span>
    </div>
  </div>
</div>
<hr />
<div class="d-flex gap-3">
  {% for skill in offer.skills %}
    <span class="badge badge-pill bg-quaternary fs-6 fw-normal text-dark border">{{ skill.name }}</span>
  {% endfor %}
</div>

<div class="mt-4">
  <div>{{ offer.description|raw }}</div>
</div>

<div class="mt-4">
  <h2 class="font-subtitle fs-5">Rémunération</h2>
  <div>{{ offer.annualWage ~ '€ / an' }}</div>
</div>

<div class="mt-4 blockquote-footer">
  <div>
    <span>Le :</span>
    {{ offer.createdAt|date('d/m/Y') }}
  </div>
  <div>
    <span>Pour le :</span>
    {{ offer.targetDate ? offer.targetDate|date('d/m/Y') : 'Non renseigné' }}
  </div>
</div>
