<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}Externatic
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('dashboard') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('dashboardScript') }}
		{% endblock %}
	</head>
	<body>


		{% include "_flashes.html.twig" %}
		<main>

			<div class="bg-background-light">
				{% block body %}
					<div class="dashboard-wrapper">

						<div class="dashboard-nav-container">
							<div id="dashboard-mobile" class="dashboard-mobile text-light">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-double-right" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
									<path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
								</svg>
							</div>

							<div id="dashboard-nav-pannel" class="dashboard-nav-wrapper">
								<div class="h-100 w-100 d-flex flex-column px-1 pt-5 pb-2 pb-md-3 justify-content-between align-items-center">
									{% block sideNav %}
										{% include 'component/_sideBar_dashboard.html.twig' %}
									{% endblock %}
								</div>
							</div>
						</div>

						<div id="dashboard-content" class="dashboard-content p-2 p-lg-4">
							<div class="container p-2 p-lg-5 mt-5">
								{% block content %}{% endblock %}
							</div>
						</div>

					{% endblock %}
				</div>
			</div>

		</main>
	</body>
</html></body></html>
