{% extends 'dashboard_layout.html.twig' %}

{% block title %}
{{ parent() ~ ' | Edition d\'une expérience' }}
{% endblock %}

{% block sideNav %}
	{% include './component/_sideBar_dashboard.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('endDate') }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10">
				<div class="d-flex justify-content-between">
					<h1>Edition de l'expérience</h1>
                    {{ include('experience/_delete_form.html.twig') }}
                </div>
				<div class="mt-5 form-container">
				{{ include('experience/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
				</div>

			</div>
		</div>
	</div>
{% endblock %}
